<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "helloWorld1" class = "com.tutorialspoint.HelloWorld">
        <property name = "message" value = "Hello World!"/>
    </bean>
    <bean id = "helloWorld2" class = "com.tutorialspoint.HelloWorld" scope="singleton"/>
    <bean id = "helloWorld3" class = "com.tutorialspoint.HelloWorld" scope="prototype"/>

    <bean id="exampleBean1" class="com.tutorialspoint.ExampleBean" init-method="init"/>
    <bean id="exampleBean2" class="com.tutorialspoint.ExampleBean"/>

    <bean id="exampleInitializingBean1" class="com.tutorialspoint.ExampleInitializingBean"/>

    <bean id="exampleDisposableBean1" class="com.tutorialspoint.ExampleDisposableBean" destroy-method="destroy"/>

    <bean id="exampleInitializeDestroyBean" class="com.tutorialspoint.ExampleInitializeDestroyBean" init-method="init" destroy-method="destroy"/>

</beans>